{{!-- BARRA DE NAVEGACIÓN --}}
{{> navigation}}

<!-- Masthead-->
<header class="masthead text-white text-center">
    {{!-- Verifico si hay algun mensaje que mostrar --}}
    {{> message }}
    
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="img/foto_inicio.png" alt="" />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading mb-0">Desarrollador Web Jr</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-bold mb-0">"Hay dos formas de escribir programas sin errores; sólo la
            tercera funciona"
            <br> -- Alan J. Perlis
        </p>
    </div>
</header>

<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portafolio</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">

            {{!-- Recorro el array devuelto por la consulta sql --}}
            {{#each results}}
                {{!-- Imagen que permite abrir el modal --}}
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal{{id}}">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i
                                    class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src='img/{{imagen}}' alt="Imagen de proyecto" />
                    </div>
                </div>

                {{!-- Modal --}}
                <!-- Modal -->
                <div class="portfolio-modal modal fade" id="portfolioModal{{id}}" tabindex="-1" role="dialog" aria-labelledby="portfolioModal{{id}}Label" aria-hidden="true">
                    <div class="modal-dialog modal-xl" role="document">
                        <div class="modal-content">
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"><i class="fas fa-times"></i></span>
                            </button>
                            <div class="modal-body text-center">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-8">
                                            <!-- Portfolio Modal - Title-->
                                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"
                                                id="portfolioModal1Label">{{nombre}}</h2>
                                            <!-- Icon Divider-->
                                            <div class="divider-custom">
                                                <div class="divider-custom-line"></div>
                                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                                <div class="divider-custom-line"></div>
                                            </div>
                                            <!-- Portfolio Modal - Image-->
                                            <img class="img-fluid rounded mb-5" src='img/{{imagen}}' alt="" />
                                            <!-- Portfolio Modal - Text-->
                                            <p class="mb-5">{{descripcion}}</p>
                                            <a href="{{link_github}}" target="_blank" class="btn btn-dark">
                                                Repositorio
                                            </a>
                                            
                                            <a href="{{link_proyecto}}" target="_blank" class="btn btn-success">
                                                Proyecto funcional
                                            </a>
                                            
                                            <button class="btn btn-danger m-4" data-dismiss="modal">
                                                <i class="fas fa-times fa-fw"></i>
                                                Cerrar Ventana
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {{/each}}


        </div>
    </div>
</section>

<!-- About Section-->
<section class="page-section bg-success text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Acerca de mi</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead">Tengo 25 años y siempre me llamó la atención el mundo de las IT, residí 3 años
                    en Italia lo que me permitió ver de cerca el mundo de la programación, donde descubrí una nueva
                    pasión. En 2020 empecé a estudiar en IES-9023 la Tecnicatura en Desarrollo de Software.</p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">  Complementando mis estudios de manera autodidacta en el
                    Desarrollo Web con tecnologías como Django, Node.js, git, SQL y otras.</p>
            </div>

        </div>
        <!-- About Section Button-->
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="/cv">
                <i class="far fa-address-card mr-2"></i>
                Curriculum Vitae
            </a>
        </div>
    </div>
</section>

<!-- Contact Section-->
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contacto</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Form-->
        <div class="row">
            <div class="col-lg-8 mx-auto">

                <form action="/" method="POST" id="contactForm" name="sentMessage" >
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Nombre</label>
                            <input class="form-control" id="name" name="name" type="text" placeholder="Nombre" required/>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Dirección de mail</label>
                            <input class="form-control" id="email" type="email" name="email" placeholder="Dirección de mail"
                                required="required" />
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Número de teléfono</label>
                            <input class="form-control" id="phone" type="tel" name="phone" placeholder="Número de telefono"
                                required="required" minlength="8" pattern="[0-9]{8,13}"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Mensaje</label>
                            <textarea class="form-control" id="message" rows="5" name="message" placeholder="Mensaje"
                                required="required"></textarea>
                        </div>
                    </div>
                    <br />
                    <div id="success"></div>
                    <div class="form-group"><button class="btn btn-success btn-xl" id="sendMessageButton"
                            type="submit">Enviar</button></div>
                </form>
            </div>
        </div>
    </div>
</section>


{{!-- FOOTER --}}
{{> footer}}